
.DS_Store
Thumbs.db
*.log
*.tmp

webApp/node_modules/
webApp/dist/
webApp/.angular/
webApp/.angular-cache/
webApp/.vscode/
webApp/.env
webApp/.env.*.local
webApp/coverage/
webApp/out-tsc/
webApp/.editorconfig


webApi/bin/
webApi/obj/
webApi/.vs/
webApi/TestResults/
webApi/*.csproj.user


*.user
*.suo
*.userosscache
*.sln.docstates




